<ion-view view-title="Anuncie no GuiaApp">
  <ion-content>
    <div class="home-hello">
      <img src="img/app-home-cabecalho-anuncieaqui.png"/>
      <div class="item item-text-wrap">
        <h2>Anuncie no GuiaApp</h2>
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <div class="item item-body">

          <h2><strong><u>O que é o GuiaApp?</u></strong></h2>
          <p>É uma ferramenta estratégica de comunicação direta do seu negócio com os clientes, promovendo aumento de vendas, fidelização e estreitamento do relacionamento com seu público-alvo.</p><br>

          <h2><strong><u>Porque anunciar no GuiaApp?</u></strong></h2>
          <p>Hoje em dia os aplicativos para Smartphones dominam o mercado e os consumidores encontram muito mais facilidade em usar um aplicativo pois ele está sempre a mão.</p>

          <p>Negócios locais precisam ter um canal de comunicação online eficaz com os clientes. Dessa forma, conseguem atingir mais visibilidade e audiência aumentando as possibilidades de vendas.</p>

          <p>Ao mesmo tempo, consumidores locais têm dificuldade em conhecer os negócios da região e preferem consumir próximo as suas residências.</p>

          <p>O GuiaApp vem para preencher essa lacuna entre clientes e negócios locais, ajudando tanto clientes a encontrar o produto ou serviço que deseja consumir, quanto pequenos negócios a serem encontrados pelo seu público-alvo.</p>

        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <div class="item item-body">

          <h2><strong><u>Benefícios</u></strong></h2>
          <p>- Está sempre a mão dos usuários em casa ou na rua por ser um aplicativo;</p>
          <p>- Atinge muito mais clientes pois a distribuicao por download é mais eficiente e escalável;</p>
          <p>- Muito mais espaço de anúncio (imagem + texto);</p>
          <p>- Galeria de imagens para exposição de produtos;</p>
          <p>- Espaço para download de catálogo de produtos;</p>

        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <div class="item item-body">

    <h2><strong><u>Funcionalidades do GuiaApp</u></strong></h2>
          <p>- Horários de ônibus;</p>

          <p>- Telefones úteis;</p>

          <p>- Botão Whatsapp (com um clique o usuário entra em contato com o seu negócio pelo chat do Whatsapp);</p>

          <p>- Botão ligar (com um clique liga através do próprio telefone para o estabelecimento);</p>

          <p>- Mapa interativo que leva o cliente até seu estabelecimento através do GPS;</p>

          <p>- Mapa da região de Maricá com todos os estabelecimentos parceiros.</p>

          <p>- Possibilidade do cliente encontrar seu negócio pela proximidade do local que ele se encontra através do GPS.</p>

          <!-- <p>- Calendário para marcação de horário em Salões de Beleza, Clínicas e Consultórios (Versão 2.0 disponível a partir de Junho);</p> -->

          <!-- <p>- Demografia, história e curiosidades da região.</p>

        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <div class="item item-body">

          <h2><strong><u>Preços e Planos</u></strong></h2>
          <p><strong>Banner Rotativo da Home - Consultar</strong></p>

          <p><strong>Plano Mensal R$120,00</strong></p>

          <p><strong>Trimestral R$300,00 (20% de desconto)</strong></p>

          <p><strong>Semestral R$500,00 (20% de desconto + 1 mês grátis)</strong></p>

          <p><strong>Anual R$1.000,00 (20% de desconto + 2 meses grátis)</strong></p>

        </div>
      </div>
    </div>
    <div class="list card">
        <div class="item">
          <div class="item item-body">
            <h2>Quer anunciar no GuiaApp? Fale conosco por telefone ou Whatsapp. Conheça também nossa página no Facebook, lá tem sempre promoção pra galera de Maricá.</h2>
          <p>
            <a href="tel:21997848484" class="subdued"><button class="button icon-left ion-android-call button-positive">Ligar</button></a>

            <a href="#" ng-click="vm.openWhatsapp()" class="subdued"><button class="button icon-left ion-social-whatsapp-outline button-positive"> Zap</button></a>
          </p>

            <!-- <a href="#" class="item item-icon-left" ng-click="vm.getDirections()">
              <i class="icon ion-compass"></i>
              Encontre-nos pelo GPS
            </a>

            <a ng-click="vm.openFacebookPage()" class="item item-icon-left">
              <i class="icon ion-social-facebook"></i>
              Curta nossa Fanpage
            </a>-->

        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item">
        <div class="item item-body">
          <h3>GuiaApp Maricá é um produto da Agência Wdots Web Design</h3>
          <a href="#" ng-click="vm.openSite()"><img src="img/wdots-logo-wallet-240x99white.jpg" width="120" height="49"></a>
          <h4>©Agência Wdots | GuiaApp Maricá 2017 - Todos os direitos reservados</h4>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
