<ion-view view-title="Home GuiaApp Maricá" class="businesses">
	<ion-nav-buttons side="right">
		<button class="button button-clear icon ion-android-options" ng-click="vm.showFilter()"></button>
	</ion-nav-buttons>

	<ion-content ng-init="vm.search = ''">
    <div class="home-hello">
      <ion-slide-box auto-play="3000" does-continue="true" show-pager="false">
        <ion-slide ng-repeat="i in ['app-home-cabecalho-750x600.png','academias.jpg','beleza-estetica.jpg','construcao-reforma.jpg','imoveis.jpg','informatica.jpg', 'mercados-padarias.jpg','pets.jpg','pizzarias.png']">
          <div class="box blue"><img ng-src="https://s3-us-west-2.amazonaws.com/guiaapp-marica/cabecalhos/{{i}}"/></div>
        </ion-slide>
      </ion-slide-box>
      <div class="item item-text-wrap">
        <h1>GuiaApp Maricá</h1>
        <p>Deslize o menu vermelho (<i class="icon ion-arrow-left-a assertive"></i> <i class="icon ion-arrow-right-a assertive"></i>) para mais opções</p>
      </div>
    </div>
		<ion-scroll zooming="true" direction="x" scrollbar-x="false" class="categories-filter">
			<span ng-repeat="category in vm.categories">
				<button class="button button-assertive filter-button"
					ng-click="vm.filterByCategory(category)"
					ng-class="{'active-filter-button': category === vm.selectedCategory}">
					{{category}}
				</button>
			</span>
		</ion-scroll>
		<div class="item search-box">
			<input type="text" placeholder="Pesquisar no GuiaApp..." ng-model="vm.search" />
		</div>
		<div class="item item-thumbnail-left item-text-wrap"
			ng-click="vm.navigate(business.guid)"
			ng-repeat="business in vm.businesses | filter: { name: vm.search } | orderBy: vm.sortBy">
			<img ng-src="{{business.logo}}">
			<h2>{{business.name}}</h2>
			<span class="distance">{{business.distance | distance}}</span>
			<h3>{{business.category}}</h3>
			<p>{{business.description | limitTo: 140 }}{{business.description.length > 140 ? '...' : ''}}</p>
		</div>

	</ion-content>
</ion-view>
